body {
  font-family: 'Dancing Script', cursive;
  font-size: 16px;
  line-height: 1;
  background-image: url('../images/subtle\ background2.png');
  background-color: white, 0.5;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}


.hour {
  font-family: 'Montserrat', sans-serif;
}


textarea{
  background: transparent;
  border: none;
  resize: none;
  color: black;
  padding: 10px;
  font-family: 'Shadows Into Light', cursive;
  font-size: 25px;
  margin-top: 1px;
  margin-bottom: 1px;
}


.display-3, {
  font-family: 'Dancing Script', cursive;

}


.lead {
  font-family: 'Montserrat', sans-serif;
}


.jumbotron {
  text-align: center;
  background-color: #f5cac3;
  color: #00658D;
  border-radius: 0;
  border-bottom: 15px solid #00658D;
}


.description{
  white-space: pre-wrap;
}


.time-block{
  text-align: center;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}


.row {
  white-space: pre-wrap;
  height: 80px;
}


.hour {
  background-color: rgb(179, 174, 179);
  color: #000000;
  border: 1px dashed black;
  font-size: 20px;
  text-align: center;
  padding-top: 30px;
  justify-items: center;
  margin-top: 1px;
  margin-bottom: 1px;
}


.past {
  background-color: #c1dfd7;
  color: black;
}


.present {
  background-color: #7bb3a5;
  color: black;
}


.future {
  background-color: #6c948b;
  color: black;
}


.saveBtn {
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #00658D;
  color: black;
  border: 1px dashed black;
  margin-top: 1px;
  margin-bottom: 1px;
}


.saveBtn i:hover {
  font-size: 20px;
  transition: all .3s ease-in-out;
}


.far {
  font-size: 200%;
}